@font-face {
   font-family: 'ethnocentric rg';
   font-display: swap;
   src: url('file:///C:/Users/Usuario/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-21_124338/fonts/ethnocentric%20rg/font.ttf');
}
