@font-face {
   font-family: 'Lovecraftimus';
   font-display: swap;
   src: url('Lovecraftimus/font.ttf');
}
@font-face {
   font-family: 'ci-gamedev';
   font-display: swap;
   src: url('ci-gamedev/font.ttf');
}
