@font-face {
   font-family: 'Game-Played';
   font-display: swap;
   src: url('Game-Played/font.ttf');
}
@font-face {
   font-family: 'eight-bit-dragon';
   font-display: swap;
   src: url('eight-bit-dragon/font.ttf');
}
