@font-face {
   font-family: 'ci-gamedev';
   font-display: swap;
   src: url('file:///C:/Users/agust/Desktop/Cosas%20Agust%C3%ADn/Videojuegos%20Desarrollo/WEBSITE/2025-06-27%20Console%20Buttons/fonts/ci-gamedev/font.ttf');
}
